:root{
--color-primario:#151D3B;
--color-secundario:#DADBBD;
--color-terciario:#D82148;
--color-texto-primario:white;
--color-texto-secundario:#34375a;

}



body{
    background-image: url("https://www.pexels.com/es-es/foto/captura-de-pantalla-de-php-270348/");
    background-color:var(--color-primario);
    font-style: normal;
    color: var(--color-texto-primario);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: auto;
}
a{text-decoration:none;}


.navbar{
    position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: var(--color-secundario);
  flex-direction: row;
  align-items: flex-end;
  place-items: center;
  
  
  }

  .navbar a{
    font-family: sans-serif;
    font-size:200% ;
    color: var(--color-texto-secundario); 
    font-weight: bolder; 
    margin-right: 5%;
  }
  .navbar a:hover{color:white;}


  #welcome-section{
    font-size: 200%;
    background-color:var(--color-terciario);
    border:solid;
    border-bottom:px;
    border-color:var(--color-terciario);
    justify-content: stretch;
   
  }
  .palito{
    animation: caret-blink 1s infinite;
    
  }
  

#projects{
  width:100%;
  height: 500px;
  margin: auto;
}

#proyects-container{
  
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: column;
  
}
#projects h2{
  text-decoration:underline 1px ;

}

#projects #project-tile1,#project-tile2,#project-tile3{
    
    height: 500px;
    width: 300px;;
    position: relative;
    margin:auto 20%;
    
    background-color: var(--color-secundario);
  }
  
  .project-text{
    
      background-color: var(--color-terciario);
      width: 100%;
      height: 50px;
      margin: auto;
      position: absolute;
      top:400px;
      
  }
  
#escribir{
  background-color:var(--color-terciario);
}

#escribir h2{
font-size:100px;
height:50px;
align-items: center;
}


.iconos{
  padding-bottom:30px;
  margin-bottom:30px;
}
.iconos a{
  color:white;
  font-size:100px;
  padding-left: 5%;
}



  @keyframes caret-blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  


  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
    
    .navbar {
      font-size: 16px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    
    .navbar a {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    #welcome-section {
      font-size: 120%;
      flex-direction: column;
    }
    
    #projects {
      height: auto;
    }
    
    #projects #project-tile1,
    #projects #project-tile2,
    #projects #project-tile3 {
      width: 80%;
      margin: 10% auto;
    }
    
    .project-text {
      top: 80%;
    }
    
    #escribir h2 {
      font-size: 60px;
    }
    
    .iconos {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    
    .iconos a {
      font-size: 60px;
      padding-left: 2%;
    }
  }
